.child{
    height: 600px;
    width: 300px;
}
img{
    height: 450px;
    width: 300px;
}
.mid{
    display: flex;
    justify-content:center;
    gap: 40px;
    }
    #get{
        margin-top: 130px;
    }
    .net{
        font-size: 45px;
        color: lawngreen;
        text-align: center;
        position: fixed;
        top: -40px;
        left: 670px;
    }
    .parent{
        margin-top: 100px;
        }
        body{
            background-color: rgb(205, 205, 254);
            }
